:root {
  --black: #1A1B1F;
  --light-black: #262830;
  --gray: #535270;
  --purple: #D741F8;
  --light-purple: #F8ECFE;
  --dark-purple: #462785;
  --blue: #574FF0;
  --light-blue: #D9DDFF;
  --light: #EDEFFF;
  --white: #FFFFFF;
  --pool-bg: #781D67;
  --shadow: rgba(26, 27, 31, 0.05);
}

* {
  font-family: sans-serif;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;

}

.header {
  height: 70px;
  background-color: var(--black);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pools {
  background-color: var(--light-purple);
  height: 100%;
}

.pool {
  max-width: 900px;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--white);
  box-shadow: 0px 4px 4px rgba(var(--black), 0.05), 0px 6px 16px var(--shadow);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px auto;
}

.button {
  padding: 12px 25px;
  outline: none;
  box-shadow: none;
  margin: 0;
  border-radius: 2px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  border: none;
  cursor: pointer;
}

.stakeButton, .okButton {
  background-color: var(--purple);
  color: white;
}

.stakeButton:hover {
  filter: brightness(0.85);
}

.cancelButton {
  background-color: var(--light-black);
  color: white;
}

.connectButton {
  padding: 12px 24px;
  border: none;
  box-shadow: none;
  border-radius: 3px;
  background-color: var(--light-black);
  color: var(--light-purple);
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  cursor: pointer;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.connectButton:hover {
  filter: brightness(0.85);
}

.modalWrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  padding: 36px;
  border-radius: 10px;
  background-color: var(--white);
}

.input {
  width: 100%;
  display: block;
  background: var(--white);
  border: 1px solid black;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 15px 20px 15px 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: var(--light-black);
  cursor: pointer;
  margin: 20px 0;
}

.buttonWrapper {
  display: flex;
  justify-content: space-between;
}
