:root {
  --white: #FFFFFF;
  --gray: #BBBFC9;
  --inter: 'Inter', sans-serif;
  --grotesque: 'Darker Grotesque', sans-serif;
}

* {
  font-family: sans-serif;
  margin: 0;
}

.adalend_staking {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: auto;
}
